@import url('https://fonts.googleapis.com/css?family=Open+Sans');
    * {
      font-family: "Open Sans", sans-serif;
    }
    body {
        background-color: #f5f5f5;
        margin: 0;
    }
    nav {
      background-color: #e0dddd;
      height: 8vh;
      font-size: 1.5rem;
      display: flex;
    }
    nav a:hover {
      color: #00b050;
    }
    .pag {
      height: 100%;
      width: 20%;
      border: solid black 2px;
      background-color: #bdbcbc;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    header {
      height: 40vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
      font-size: 10px;
    }
    .titulo {
      font-size: 100px;
      color: green;
    }
    .logo {
      height: 12vh;
      width: auto;
      margin-right: 2vh;
    }
    .logo:hover {
      animation: giro 2.5s ease-out;
    }
    .fundo {
      width: 80vw;
      height: 60vh;
      display: flex;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      background-color: #00b050;
    }
    .sobre {
      width: 38vw;
      height: 56vh;
      background-color: #f5f5f5;
      margin: 0;
      margin-left: 1vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 10px; 
      text-align: center;
    }
    .cima {
      height: 56vh;
      width: 100%;
      overflow: hidden; 
      border-radius: 8px; 
    }
    .a {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .sub {
      text-decoration: underline;
    }    
    .italic {
      font-style: italic;
    }
    .bold {
      font-weight: bold;
    }

    .sobre h1 {
      margin: 10px 0 20px 0;
      font-size: 3rem;
      color: #00b050;
    }
    .sobre p {
      margin: 0;
      margin-top: 0.2vh;
      color: #00b050;
      text-align: center;
      font-size: 1.5rem;
    }

    .titulo-lista {
        font-size: 1.8rem; 
        color: #00b050;
        margin-top: 25px; 
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
        width: 80%;
        text-align: left; 
    }

    li {
        color: #00b050;
        font-size: 1.2rem;
        padding: 8px 0;
        border-bottom: 1px solid #e0e0e0; 
    }

    li:last-child {
        border-bottom: none;
    }

    @keyframes giro {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

@media (max-width: 1200px) {
    header {
        height: 25vh;
    }

    .titulo {
        font-size: 60px;
    }

    .logo {
        height: 10vh;
    }
    .fundo {
        flex-direction: column;
        
        height: auto;   
        width: 95vw;   
        padding: 20px 0;
        border-left: none;
        border-right: none;
    }
    .sobre {
        width: 90%;
        height: auto;
        margin-left: 0;
        border-left: none;
        border-right: none;
    }
    .sobre:first-child {
        margin-bottom: 20px;
  _ }
    .sobre h1 {
        font-size: 2.5rem;
    }
    .sobre p {
        font-size: 1.2rem;
    }
    .cima {
        height: 20vh;
    }
}