@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}
nav {
      background-color: #e0dddd;
      height: 10vh;
      font-size: 1.5rem;
    }
    .pag {
      height: 100%;
      width: 20%;
      background-color: #bdbcbc;
      display: flex;
      justify-content: center;
      align-items: center;
    }
     header {
      height: 40vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center; 
      font-size: 10px;
    }
    .titulo {
      font-size: 100px;
      color: green;
    }
    .logo {
      height: 12vh;
      width: auto;
      margin-right: 2vh;
    }
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  margin: 20px 100px;
}
table {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-collapse: collapse;
  align-content: center;
  width: 100%;
  border-spacing: 10px; 
}
.head {
  width: 30px;
  max-width: 30px;
  height: auto;
  font-size: 20px;
  background-color: #333;
  color: white;
}
tr, td {
      height: 50px;
      border-bottom: 1px solid black;
      font-size: 20px;
      text-align: center;
}
.tabela {
  width: 50%;
}
.v, .e, .d {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 2px;
}

.v { background: #00b050; }
.e { background: #a6a6a6; }
.d { background: #d70000; }

.partida {
  background-color: #ffffff;
  color: #333;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
}
div .partida {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.jogos {
  width: 40%;
}
.logoe {
  width: 50px;
  height: auto;
}
.logod {
  width: 50px;
  height: auto;
}
.logot {
  width: auto;
  height: 50px;
}
tbody tr:nth-child(even) { 
  background-color: #f2f2f2; 
}
tbody tr:nth-child(odd) { 
  background-color: #ffffff; 
}

.header {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  margin: 0 110px 10px 110px;
}

td.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
td.time img {
    width: auto;
    height: 26px;
}